:root {
    --color-primary: #FD377E;
    --color-primary-2: #E34981;

    --color-grey-4: #212529;
    --color-grey-3: #868E96;
    --color-grey-2: #E9ECEF;
    --color-grey-1: #F8F9FA;
    --color-grey-0: #ffffff;

    --font-title-1: 2.375rem;
    --font-title-2: 1.375rem;
    --font-title-3: 1rem;
    --font-title-4: 0.75rem;
    --font-headline: 1rem;
    --font-body: 0.75rem;



}

.landingPage {
    height: 100vh;
    background-color: var(--color-grey-4);
    padding: 5.25rem 0.9375rem 0;
    font-size: var(--font-body);

}

.landingPageContainer {
    height: 80vh;
}

.topContainer {
    color: var(--color-grey-0);
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
    max-width: 580px;
    margin: 0 auto;

}

.topContainer > img {
    width: 123px;
}

.topContainer > h1 {
    font-size: 40px;
    font-weight: 800;
}

.topContainer > p {
    font-weight: 400;
}

.topContainer img + h1 {
    padding-top: 0.125rem;
}

.topContainer > button {
    width: 100%;
    padding: 0.875rem;
    border-radius: 8px;
    border: none;
    background-color: var(--color-primary);
    color: var(--color-grey-0);
    cursor: pointer;
    transition: .5s ease-in-out;
    
}

.topContainer > button:hover {
    background-color: var(--color-primary-2);
}

.bottomContainer{
    background-image: url('../../assets/Illustration.svg');
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 60%;
    margin-top: 0.9375rem;
    background-position: center;
    
} 

@media  (min-width: 768px){

    .landingPage{
        padding-top: 5.875rem;
    }

    .landingPageContainer {
        display: flex;
        justify-content: center;
        height: 593px;
        align-items: center;
        max-width: 988px;
        margin: 0 auto;
        gap: 3rem;
    }

    .topContainer {
        min-width: 347px;
        width: 347px;
        height: fit-content;
        margin: 0;

    }

    .bottomContainer {
        margin-top: 0px;
        height: 100%;
    }
}