.formContainer {
    max-width: 363px;
    margin: 1.5rem auto;
    padding: 2.375rem 1.5rem 2.375rem;
    border: 1px solid var(--color-grey-2);
    border-radius: 4px;
}

.formContainer label, .formContainer small {
    color: var(--color-grey-4);
    font-size: 0.75rem;
}

.formContainer input, .formContainer select {
    background-color: var(--color-grey-1);
    border: none;
    padding: 13px 16px;
    border-radius: 8px;
}

.formContainer input::placeholder{
    color: #868E96;
}

.formContainer input:focus, .formContainer select:focus {
    outline: 2px solid var(--color-grey-4);
}

.formContainer small{
    padding-top: 0.25rem;
}

.descriptionContainer{
    display: flex;
    flex-direction: column;
    padding-bottom: 1.1875rem;
}

.descriptionContainer label {
    padding-bottom: 0.75rem;
    font-weight: 400;
}

.amountAndTypeContainer {
    display: flex;
    justify-content: space-between;
}

.amountContainer, .typeContainer {
    width: 48%;
    display: flex;
    flex-direction: column;
}

.amountContainer input::-webkit-outer-spin-button,
.amountContainer input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.amountContainer label, .typeContainer label {
    padding-bottom: 0.75rem;

}

.amountContainer input {
    width: 100%;
}

.formContainer button {
    margin-top: 1.1875rem;
    width: 100%;
    background-color: var(--color-primary);
    border: none;
    color: var(--color-grey-0);
    padding: 0.875rem;
    border-radius: 8px;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.formContainer button:hover {
    background-color: var(--color-primary-2);
}

.inputAmountContainer {
    position: relative;
}
.dollarSymbol {
    position: absolute;
    top: 10px;
    right: 15px;
}




